* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.navigation {
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.home {
  text-decoration: none;
}
main {
  position: relative;
}
table {
  text-align: left;
  width: 700px;
}
thead {
  font-size: 1.5rem;
}
caption {
  height: 60px;
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
  background-color: purple;
  margin-bottom: 0.5rem;
  border-radius: 8px;
}
.div-count {
  padding-left: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.count {
  font-size: 1.2rem;
}
tfoot {
  width: 100%;
  height: 60px;
  color: purple;
  border: 2px solid purple;
}
.payment {
  width: 150px;
  height: 50px;
  color: #fff;
  background-color: purple;
  border-radius: 100px;
  position: absolute;
  right: 0;
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8rem;
}
.fa-chevron-right {
  padding: 0.6rem 0.8rem;
  border-radius: 50%;
  background-color: rgba(206, 147, 216, 0.4);
}
