* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  width: 500px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
img {
  display: block;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.insta,
.git {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
span {
  font-size: 2rem;
}

.home > span {
  font-size: 1rem;
}
/* /////////////////// */
.navigation {
  width: 500px;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.home {
  text-decoration: none;
}
